* {
  z-index: 1;
}

html, body {
  width: 100vw;
  font: 17px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #333333;
  overflow-x: hidden;
  padding-bottom: 200px;
  line-height: 1.7;
}

.menu {
  position: fixed;
  text-align: right;
  top: 35px;
  right: 30px;
  z-index: 999;
}
.menu:hover a#toggle {
  border: 1px solid #efefef;
  border-bottom: none;
}
.menu:hover ul {
  opacity: 1;
  visibility: visible;
}
.menu > a {
  color: #333333;
  position: relative;
  top: 0;
  right: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  border: 1px solid transparent;
  z-index: 5;
}
.menu > ul {
  opacity: 0;
  visibility: hidden;
  text-align: left;
  position: relative;
  top: 5px;
  margin: 0;
  border: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px 0 #eee;
  transition: .1s ease-in-out;
}
.menu > ul > li {
  padding: 5px;
  list-style: none;
  font-size: 0.8em;
}
.menu > ul > li > a {
  text-decoration: none;
}
.menu > ul > li:hover {
  text-decoration: underline;
}

.logo {
  will-change: transform;
  position: fixed;
  width: calc(100% - 80px);
  height: 100vh;
  padding: 40px;
  text-align: center;
  transition: height 999999s; /* fix mobild address bar issues */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logo > * {
	z-index: -20;
}
.logo > .logo-img {
  width: 200px;
}
.logo > h1 {
  position: relative;
  top: -7.5vh;
  font-family: Helvetica;
  font-size: 1.5em;
}
.logo > h2 {
  position: relative;
  top: -10vh;
  font-size: 1em;
  font-weight: lighter;
}
.videoOverlay {
  font-size: 2em;
  cursor: pointer;
  transition: .1s ease-in-out;
}
.videoOverlay:hover {
  opacity: .8;
}
.youtube {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
}
.youtube > * {
	width: 75vw;
	height: 75vh;
	z-index: 100;
}
.overlay {
	background: rgba(0, 0, 0, 0.4);
	display: flex;
}
article {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: auto;
  background-clip: padding-box;
  pointer-events: none;
}
h1 {
  font-size: 2em;
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 1.4px;
}

a {
  color: #333333;
}

section {
  margin: 0 auto;
  padding: 150px 100px;
  text-align: center;
  background: white;
  box-shadow: inset 0 1px 0 0 white;
  border-top: 1px solid #eee;
  pointer-events: all;
}
section.intro {
  background: #fdfdfd;
}
section.space {
  padding: 0;
  height: 400px;
  background: transparent;
  pointer-events: none;
}
section > h1 {
  margin: 0 auto;
  text-align: left;
  max-width: 750px;
}
section > h3 {
  margin: 0 auto;
  margin-top: 2em;
  text-align: left;
  max-width: 750px;
}
section > p {
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;
  max-width: 750px;
}
section > .code {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

.gist-meta {
  display: none;
}
.twitter {
	margin: 0 auto;
	background-color: #4286f4;
	border-radius: 2pt;
    font-size: 24px;
    padding: 15px 35px;
    text-decoration: none;
	color: white;
	margin-top: 10px;
}
footer {
  box-sizing: border-box;
  display: none;
  color: rgba(10, 11, 26, 0.6);
  text-align: center;
  margin: auto;
  padding: 40px;
  position: fixed;
  z-index: -100;
  bottom: 0;
  width: 100vw;
}
footer > .links > ul {
  padding: 0;
}
footer > .links > ul > li {
  font-size: 2em;
  display: inline-block;
  list-style: none;
  padding: 10px;
}
footer > .links > ul > li > a {
  color: rgba(10, 11, 26, 0.6);
}
footer > .links > ul > li > a:hover {
  color: #333333;
}

@media (max-width: 800px) {
  article {
	  overflow-x: hidden;
  }
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  footer {
    font-size: 1em;
  }
  section {
    padding: 2.4em 1.2em;
  }
  section > .code {
    padding: 20px 0;
  }
  .menu {
    font-size: 1.5em;
  }

  .logo-img {
    width: 50vw !important;
  }

  .logo > h1 {
    position: relative;
    top: -5vh;
    font-family: Helvetica;
    font-size: 1.5em;
  }

  .logo > h2 {
    position: relative;
    top: -7vh;
    font-size: 1.25em;
    font-weight: lighter;
  }
  .twitter {
	  display: inline-block;
  }
}
